<h1>Car Database Demo</h1>
<div class="field">
    <strong>View Clients Page</strong>
    <%= link_to 'Clients', clients_path %>
</div>
<div class="field">
    <strong>View Manufacturer Page</strong>
    <%= link_to 'Manufacturer', manufacturers_path %>
</div>
